body {
	background-color: white;
}

a {
	text-decoration: none;
	color: blue;
}

h1, h2 {
	margin: 0;
}

#container {
	background-color: #DDA91F;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#header  {
	background-color: #DAF7A6;
	color: #900C3F;
	text-align: center;
}

#content {
	padding: 10px;
}

#nav {
	width: 250px;
	height: 800px;
	float: left;
	background-color: #E1E336;
}

#nav ul{
	list-style-type: none;
	padding: 0
}

#nav .selected {
	font-weight: bold;
}

#main {
	width: 600px;
	float: right;
	background-color: #DDA91F;
}

#footer {
	clear: both;
	text-align: right;
	padding: 10px;
	background:#999999;
	color: white;
}
